mixin fieldItem(labelName, inputName, inputType = "text")
	.field-group__item
		label.field-group__label= labelName
		.field-group__box
			input(type=inputType name=inputName class="field-group__input")
			if block 
				block
		
mixin dropdownList([...items])
	.dropdown 
		.dropdown__list
			each item, index in items
				li.dropdown__list-item= item