mixin modal(modalId, title, btnCreate = "Создать")
	.modal.fade(id=modalId data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby=id aria-hidden='true')
		.modal-dialog.modal-dialog-centered
			.modal-content.modal__content
				.modal__header
					.modal__title 
						| #{title}
					button.modal__close(type='button' data-bs-dismiss='modal' aria-label='Close')
						i(class="fa-solid fa-xmark")
				.modal__body
					block
				.modal__footer
					.modal__buttons
						button(type="button").btn.btn-create
							i(class="fa-solid fa-check")
							| #{btnCreate}
						button(type='button' data-bs-dismiss='modal').btn.btn-cancel Отмена