// Заголовки, общие БЄМ блоки и прочее...
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 180px;
}
.text-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-height: 20px;
}
.payment-status {
	display: flex;
	align-items: center;
	gap: 5px;
}
.status-part {
	& i::before {
		color: orange;
	}
}
.status-full {
	& i::before {
		color: $greenColorLight;
	}
}
.status-not-sent {
	& i::before {
		color: $redColor;
	}
}
[class*="status"] {
	& i {
		margin-right: 5px;
	}
}
.btn {
	padding: 7px;
	text-align: center;
	min-height: 40px;
	font-size: 14px;
	text-align: center;
	outline: none;
	width: 100%;
	color: $whiteColor;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "OpenSans", sans-serif;
	border-radius: 0;
	& i:not(.fa-regular) {
		font-size: 18px;
	}
	& i {
		margin-right: 5px;
	}
	&:focus,
	&:active {
		outline: none;
		box-shadow: none;
	}
}
.btn-blue {
	line-height: 20px;
	cursor: pointer;
	color: $whiteColor;
	background-color: $blueColorSecondary;
	padding: 10px 15px;
	width: auto;
	& .icon-arrow {
		margin-left: 5px;
		transition: transform 0.2s ease 0s;
	}
	&.isActive {
		.icon-arrow {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		color: $whiteColor;
	}
}
.btn-blue.btn-redact {
	font-size: 12px;
	text-transform: uppercase;
	color: $blueColorSecondary;
	background-color: transparent;
	padding: 0;
}
.btn-cancel {
	border: 1px solid $grayColor76;
	color: $blackColorSecondary;
	width: auto;
	min-width: 150px;
	&:hover {
		color: $blackColorSecondary;
	}
}
.btn-create {
	min-width: 150px;
	color: $whiteColor;
	background-color: $blueColorSecondary;
	&:hover {
		color: $whiteColor;
	}
}
.text-blue {
	color: $blueColorPrimary;
	font-size: 14px;
	line-height: 20px;
}
.text-label {
	font-size: 12px;
	color: $grayColor76;
	text-transform: uppercase;
}
.text-success {
	color: #659f13;
}
.btn i.fa-regular.fa-plus {
	font-size: 10px;
}
.item-group__footer {
	& .btn.btn-blue {
		border-radius: 4px;
		min-height: 20px;
		padding: 5px 10px;
	}
}
