.modal {
	z-index: 10;
}
.modal-backdrop {
	z-index: 9;
}
.modal-dialog {
	@media screen and (min-width: 991.98px) {
		max-width: 800px;
	}
}
@media (max-width: 768px) {
	.modal-dialog {
		max-width: 100%;
		margin: 0.5rem;
	}
}
.modal-extended .modal-dialog {
	@media screen and (min-width: 991.98px) {
		max-width: 970px;
	}
}
.modal-small .modal-dialog {
	@media screen and (min-width: 991.98px) {
		max-width: 600px;
	}
}
.modal-content {
	border: none;
}
.modal {
	& .row {
		row-gap: 10px;
	}
	&__header {
		text-align: center;
		position: relative;
		padding: 10px;
		margin-bottom: 10px;
	}
	&__title {
		font-size: 24px;
		color: $blackColorSecondary;
		font-weight: 600;
		max-width: 80%;
		line-height: 120%;
		margin: 0 auto;
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 8px;
		display: grid;
		place-items: center;
		width: 40px;
		height: 40px;
		& i {
			font-size: 30px;
			color: $blueColorSecondary;
		}
	}
	&__body {
		padding: 10px;
	}
	&__footer {
		padding: 10px;
		display: flex;
		justify-content: flex-end;
	}
	&__buttons {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	& .modal-text {
		margin: 25px 0 15px 0px;
		text-align: center;
		@media screen and (max-width: $lg) {
			margin: 0;
		}
	}
}
.parameters-payment {
	display: grid;
	gap: 5px;
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 15px 10px;
	}
	& .field-group__item {
		width: 40%;
		@media screen and (max-width: $lg) {
			width: 100%;
		}
	}
	&__col {
		&.parameters-price {
			& .field-group__item {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
			}
			& .field-group__label {
				margin: 0 0 0 5px;
				color: $blackColorSecondary;
				font-size: 14px;
				font-weight: 500;
			}
		}
	}
}
.drag-area {
	width: 100%;
	background-color: $azureColorLight;
	padding: 40px 20px;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	border: 1px dashed #476479;
	border-radius: 8px;
	cursor: pointer;
	&.active {
		border: 1px solid #476479;
	}
	&__text {
		color: $blackColorSecondary;
		line-height: 130%;
	}
	&__icon {
		font-size: 40px;
		color: $blueColorPrimary;
	}
}
.upload-file {
	display: flex;
	min-height: 30px;
	border: 1px solid $grayColorSecondary;
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		& button {
			width: 20px;
			height: 20px;
			display: grid;
			place-items: center;
			margin-left: auto;
			font-size: 18px;
			color: $redColor;
			cursor: pointer;
			& i {
				pointer-events: none;
			}
		}
	}
	&__list {
		width: 100%;
	}
	&__preview {
		flex: 1 1 auto;
		padding: 4px 8px;
		text-align: left;
		font-size: 14px;
		color: $grayColorPrimary;
		vertical-align: middle;
		display: flex;
		align-items: center;
		& ul {
			@include reset-list;
		}
	}
	&__button {
		padding: 4px 8px;
		background-color: $whiteColor;
		border-left: 1px solid $grayColorSecondary;
		width: auto;
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		opacity: 0;
		cursor: pointer;
	}
}
