+modal("createClaim", "Заявка от 22.03.2023", null, "Создать", "Отмена")
	.field-group
		.row 
			.col-lg-4
				.modal-text 
					| Даты тура
			.col-lg-4
				+date("Начало", "text", "datetour_start")
			.col-lg-4
				+date("Окончание", "text", "datetour_end")
			.col-12 
				.field-group__item 
					label.field-group__label КОММЕНТАРИЙ ДЛЯ СЕБЯ (ЕГО НЕ БУДУТ ВИДЕТЬ СОТРУДНИКИ ЦБ!)
					textarea(type="text" name="comment" class="field-group__textarea")
+modal("comment", "Коментарий")
	.field-group
		.row.justify-content-center
			.col-12
				.field-group__item 
					label.field-group__label КОММЕНТАРИЙ
					textarea(type="text" name="comment" class="field-group__textarea")
+modal("docModal", "Статус отправки документов")
	.field-group
		.row.justify-content-center
			.col-12
				+select("Статус отправки документов", "statusDocs", null, [...select.statusDocs])
+modal("tourpackageModal", "Турпакет")
	.field-group
		.row
			.col-lg-6
				+fieldItem("Название", "text", "name")
			.col-lg-3
				+date("Начало", "text", "datetourpack_start")
			.col-lg-3
				+date("Окончание", "text", "datetourpack_end")
			.col-lg-6
				.field-group__item
					label.field-group__label Город вылета
					select(id="departureСity" name="departureСity")
				//- +select("Город вылета", "departureСity", "departureСity", [...select.departureCity])
			.col-lg-6
				.field-group__item
					label.field-group__label Страна прилета
					select(id="countryArrival" name="countryArrival")
				//- +select("Страна прилета", "countryArrival", "countryArrival", [...select.countryArrival])
+modal("touroperatorModal", "Туроператор - поставщик тура")
	.field-group
		.row
			.col-12
				+fieldItem("Туроператор", "text", "touroperator")
+modal("contractModal", "Договор")
	.field-group
		.row
			.col-lg-4
				+date("Дата договора", "text", "date")
			.col-lg-4
				+fieldItem("Номер брони", "text", "booking_number")
+modal("addCustomer", "Заказчик", "modal-extended")
	.field-group
		.row
			.col-12
				+select("Заказчик", "customers", "personsSelect", [...select.customer])
			#tabContentModal
				#person(class="tabs-content" data-tab-content="person")
					.row
						.col-12
							.checkbox
								label
									input(type="checkbox" class="checkbox__input" name="translit_customer")
									span.checkbox__label.text-label Включить транслитерацию по госту 2016
						.col-lg-3.col-md-6
							+fieldItem("Фамилия", "text", "person_surname", true)
						.col-lg-3.col-md-6
							+fieldItem("Имя", "text", "person_name", true)
						.col-lg-3.col-md-6
							+fieldItem("Отчество", "text", "person_surname_o")
						.col-lg-3.col-md-6
							+select("Пол", "gender", null, [...select.gender], true)
						.col-lg-3.col-md-6
							+fieldItem("Фамилия (LAT)", "text", "person_surname_lat")
						.col-lg-3.col-md-6
							+fieldItem("Имя (LAT)", "text", "person_name_lat")
						.col-lg-3.col-md-6
							+select("Гражданство", "nationality", null, [...select.nationality], true)
						.col-lg-3.col-md-6
							+fieldItem("Дата рождения", "text", "person_birthday", true)
						.col-lg-3.col-md-6
							+fieldItem("Фактический адрес", "text", "person_address")
						.col-lg-3.col-md-6
							+fieldItem("Телефон", "tel", "person_tel")
						.col-lg-3.col-md-6
							+fieldItem("Email", "email", "person_email")
					hr
					.row 
						.col-lg-4
							.text-label.text-center.mb-2  Национальный паспорт
							.row 
								.col-sm-3
									+fieldItem("Серия", "number", "passport_series")
								.col-sm-3
									+fieldItem("Номер", "number", "passport_number")
								.col-sm-6
									+fieldItem("Дата выдачи", "text", "passport_date")
								.col-sm-8
									+fieldItem("Кем выдан", "text", "passport_issued")
								.col-sm-4
									+fieldItem("Код", "text", "passport_code")
								.col-sm-12
									+fieldItem("Адрес регистрации", "text", "passport_address")
						.col-lg-4
							.text-label.text-center.mb-2 Свидетельство о рождении
							.row 
								.col-sm-4
									+fieldItem("Серия", "text", "certificate_series")
								.col-sm-8
									+fieldItem("Номер", "text", "certificate_number")
								.col-sm-12
									+date("Дата выдачи", "text", "date")
								.col-sm-12
									+fieldItem("Кем выдан", "text", "certificate_issued")
						.col-lg-4
							.text-label.text-center.mb-2  Заграничный паспорт
							.row 
								.col-sm-4
									+fieldItem("Серия", "text", "international_passport_series")
								.col-sm-8
									+fieldItem("Номер", "text", "international_passport_number")
								.col-sm-6
									+date("Дата выдачи", "text", "date")
								.col-sm-6
									+date("Срок действия", "text", "date")
								.col-sm-12
									+fieldItem("Кем выдан", "text", "international_passport_issued")
				#juridical(class="tabs-content" data-tab-content="juridical")
					.row.align-items-end
						.col-lg-3.col-md-6
							+fieldItem("Наименование банка", "text", "juridical_bank")
						.col-lg-3.col-md-6
							+fieldItem("Бик", "text", "juridical_bik")
						.col-lg-3.col-md-6
							+fieldItem("Р/с", "text", "juridical_rs")
						.col-lg-3.col-md-6
							+fieldItem("К/с", "text", "juridical_ks")
						.col-sm-6
							+fieldItem("Полное наименование юр.лица", "text", "juridical_fullname")
						.col-sm-6
							+fieldItem("Сокращенное наименование юр.лица", "text", "juridical_shortname")
						.col-sm-6
							+fieldItem("Юридический адрес", "text", "juridical_address")
						.col-sm-6
							+fieldItem("Фактический адрес", "text", "juridical_actual_address")
					hr
					.row 
						.col-lg-4
							+fieldItem("КПП", "text", "juridical_kpp")
						.col-lg-4
							+fieldItem("КПП", "text", "juridical_inn")
						.col-lg-4
							+fieldItem("ОГРН", "text", "juridical_ogrn")
						.col-lg-4
							+fieldItem("Фио директора", "text", "juridical_director")
						.col-lg-4
							+fieldItem("Телефон", "tel", "juridical_tel")
						.col-lg-4
							+fieldItem("E-mail", "email", "juridical_email")
+modal("addTourist", "Турист", "modal-extended")
	.field-group 
		.row
			.col-12
				+checkbox("Включить транслитерацию по госту 2016", "translit_tourist")
			.col-lg-3.col-md-6
				+fieldItem("Фамилия", "text", "tourist_surname", true)
			.col-lg-3.col-md-6
				+fieldItem("Имя", "text", "tourist_name", true)
			.col-lg-3.col-md-6
				+fieldItem("Отчество", "text", "tourist_surname_o")
			.col-lg-3.col-md-6
				+select("Пол", "gender", null, [...select.gender], true)
			.col-lg-3.col-md-6
				+fieldItem("Фамилия (LAT)", "text", "tourist_surname_lat")
			.col-lg-3.col-md-6
				+fieldItem("Имя (LAT)", "text", "tourist_name_lat")
			.col-lg-3.col-md-6
				+select("Гражданство", "nationality", null, [...select.nationality], true)
			.col-lg-3.col-md-6
				+fieldItem("Дата рождения", "text", "tourist_birthday", true)
			.col-lg-3.col-md-6
				+fieldItem("Фактический адрес", "text", "tourist_address")
			.col-lg-3.col-md-6
				+fieldItem("Телефон", "tel", "tourist_tel")
			.col-lg-3.col-md-6
				+fieldItem("Email", "email", "tourist_email")
		hr
		.row 
			.col-lg-4
				.text-label.text-center.mb-2  Национальный паспорт
				.row 
					.col-sm-3
						+fieldItem("Серия", "number", "passport_series")
					.col-sm-3
						+fieldItem("Номер", "number", "passport_number")
					.col-sm-6
						+fieldItem("Дата выдачи", "text", "date")
					.col-sm-8
						+fieldItem("Кем выдан", "text", "passport_issued")
					.col-sm-4
						+fieldItem("Код", "text", "passport_code")
					.col-12
						+fieldItem("Адрес регистрации", "text", "passport_address")
			.col-lg-4
				.text-label.text-center.mb-2 Свидетельство о рождении
				.row 
					.col-sm-4
						+fieldItem("Серия", "text", "certificate_series")
					.col-sm-8
						+fieldItem("Номер", "text", "certificate_number")
					.col-12
						+date("Дата выдачи", "text", "date")
					.col-12
						+fieldItem("Кем выдан", "text", "certificate_issued")
			.col-lg-4
				.text-label.text-center.mb-2  Заграничный паспорт
				.row 
					.col-sm-4
						+fieldItem("Серия", "text", "international_passport_series")
					.col-sm-8
						+fieldItem("Номер", "text", "international_passport_number")
					.col-sm-6
						+date("Дата выдачи", "text", "date")
					.col-sm-6
						+date("Срок действия", "text", "date")
					.col-sm-12
						+fieldItem("Кем выдан", "text", "international_passport_issued")
						.text-label.mt-2 Пример: UFMS-12
		.row 
			.col-lg-4
				.text-label.mb-2 Информация и визе
				.select-items
					+select("Необходимость визы", "visa_info", "visaInfo", [...select.visa], true)
					.field-group__item
						label.field-group__label Город подачи визы
						select(id="visaCity" name="visa_city")
+modal("addFlight", "Перелет (добавление)", "modal-extended")
	.field-group 	
		.row 	
			.col-12
				+fieldItem("Маршрут", "text", "flight_route")
			.col-lg-3
				+fieldItem("Откуда", "text", "flight_start")
			.col-lg-3
				+fieldItem("Куда", "text", "flight_end")
			.col-lg-2
				+fieldItem("Авиакомпания", "text", "flight_aviacompany")
			.col-lg-2
				+select("Класс", "flight_class", null, [...select.flightClass])
			.col-lg-2
				+fieldItem("Номер рейса", "text", "flight_number")
			.col-lg-3
				+date("Время вылета", "text", "dateflight_start")
			.col-lg-3
				+date("Время прилета", "text", "dateflight_end")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addInsurance", "Страховка (добавление)", "modal-extended")
	.field-group 
		.row 
			.col-12
				+fieldItem("Название", "text", "insurance_name")
			.col-lg-4
				+fieldItem("Компания страховщик", "text", "insurance_company")
			.col-lg-8
				+select("Тип страховки", "insurance_type", "insuranceType", [...select.insuranceType])
				.field-group__item.mt-3
					label.field-group__label Тип страховки (заполняется вручную)
					.field-group__box
						input(type="text" data-name="insurance_type_other" name="insurance_type_other" class="field-group__input")
			.col-lg-2
				+date("Начало действия", "text", "dateinsurance_start")
			.col-lg-2
				+date("Окончание действия", "text", "dateinsurance_end")
			.col-lg-3
				+fieldItem("Страховая сумма", "text", "insurance_sum")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addTransfer", "Трансфер (добавление)", "modal-extended")
	.field-group 
		.row
			.col-lg-6
				+fieldItem("Маршрут (туда)", "text", "transfer_route_start")
			.col-lg-6
				+fieldItem("Маршрут (обратно)", "text", "transfer_route_end")
			.col-lg-3
				+date("Начало", "text", "datetransfer_start")
			.col-lg-3
				+date("Окончание", "text", "datetransfer_end")
			.col-lg-6
				+select("Тип трансфера", "transfer_type", null, [...select.transferType])
			.col-lg-6
				+fieldItem("Вид транспорта (туда)", "text", "transfer_transport_start")
			.col-lg-6
				+fieldItem("Вид транспорта (обратно)", "text", "transfer_transport_end")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addVisa", "Виза (добавление)", "modal-extended")
	.field-group 
		.row
			.col-lg-6
				+fieldItem("Название", "text", "visa_name")
			.col-lg-6
				+fieldItem("Страна назначения", "text", "visa_country")
			.col-lg-3
				+date("Начало действия", "text", "datevisa_start")
			.col-lg-3
				+date("Окончани действия", "text", "datevisa_end")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addHabitation", "Проживание (добавление)", "modal-extended")
	.field-group 
		.row
			.col-12 
				+fieldItem("Название", "text", "habitation_name")
			.col-lg-4
				+fieldItem("Курорт", "text", "habitation_resort")
			.col-lg-4
				+fieldItem("Отель", "text", "habitation_hotel")
			.col-12
				+fieldItem("Адрес отеля", "text", "habitation_hotel_address")
			.col-lg-4
				+fieldItem("Тип номера", "text", "habitation_type_number")
			.col-lg-4
				+fieldItem("Тип номера", "text", "habitation_type_placement")
			.col-lg-4
				+select("Тип питания", "habitation_type_food", null, [...select.habitationTypeFood])
			.col-lg-3
				+date("Время заезда", "text", "datehabitation_start")
			.col-lg-3
				+date("Время выезда", "text", "datehabitation_end")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addFuelSurcharge", "Топливный сбор (добавление)", "modal-extended")
	.field-group 
		.row
			.col-12 
				+fieldItem("Название", "text", "habitation_name")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addExcursionProgram", "Экскурсионная программа (добавление)", "modal-extended")
	.field-group 
		.row
			.col-12 
				+fieldItem("Название", "text", "excursion_name")
			.col-12 
				+fieldItem("Описание", "text", "excursion_description")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("addOtherService", "Услуга (добавление)", "modal-extended")
	.field-group 
		.row
			.col-12 
				+fieldItem("Название", "text", "other_service_name")
			.col-12
				+checkboxGroup("Туристы")
					.checkbox-items
						+checkbox("Новикова Алла Сергеева", "tourist")
						+checkbox("Моисеева Ирина Сергеева", "tourist")
+modal("prepaymentParameters", "Параметры предоплаты", "modal-small")
	.field-group 
		.row
			.col-12 
				+fieldItem("Предоплата не менее, %", "text", "prepayment_percent")
			.col-12 
				+fieldItem("Полная оплата не позднее, дней", "text", "prepayment_days")
+modal("exposePayment", "Счет на оплату")
	.field-group
		.row
			.col-lg-3
				+select("Расчет", "expose_calculate", "exposeCalculate", [...select.exposePayment])
		.row
			.col-lg-3
				+fieldItem("Сумма платежа в счете", "number", "expose_payment_sum")
			.col-lg-3
				.field-group__item
					label.field-group__label Валюта платежа
					select(name="expose_currency" class="select-choices" id="exposeCurrency")
						option(value="" selected)
							each item, index in select.exposeCurrency 
								option(value=item.value)&attributes({selected: item.value == "RUB"})= item.name
		.row
			.col-lg-4
				+date("Дата и время счёта", "text", "date")
+modal("parametersPayment", "Параметры стоимости", "modal-parameters")
	.parameters-payment
		.parameters-payment__row
			.parameters-payment__col
				.field-group__item
					label.field-group__label Валюта турпакета
					select(name="tourpackage_currency" class="select-choices" id="tourPackageCurrency")
						option(value="" selected)
							each item, index in select.tourPackageCurrency
								option(value=item.value)&attributes({selected: item.value == "RUB"})= item.name
			.parameters-payment__col
				+fieldItem("Курс для туриста", "text", "parameters_course_tourist")
		hr(class="line-dashed")
		.parameters-payment__row
			.parameters-payment__col
				.text-label Цена тура для ТА
			.parameters-payment__col.parameters-price
				+fieldItem("RUB", "text", "parameters_tour_price")
			.parameters-payment__col
				.text-label Комиссионная часть
			.parameters-payment__col.parameters-price
				+fieldItem("RUB", "text", "parameters_comission_price")
+modal("addFile", "Добавить файл", null, "Сохранить", "Отменить")
	.field-group
		form.drag-area(method='post' enctype='multipart/form-data')
			i(class="fa-solid fa-cloud-arrow-up drag-area__icon")
			p.drag-area__text.
				Просто перетащите файл в эту область 
				#[br]
				или воспользуйтесь стандартным загрузчиком
		.row 
			.col-lg-8
				form(method='post' enctype='multipart/form-data')
					.field-group__label Файл
					div.upload-file
						.upload-file__preview.preview
							ul#fileList.upload-file__list
								//- li.upload-file__item 
								//- 	span.file-name file.pdf
								//- 	button(type="button" data-action="delete" class="btn-file")
								//- 		i(class="fa-solid fa-xmark")
						.upload-file__button
							label(for='upload' class="upload-file__label") Обзор
							input#file_uploads(type='file' name='uploads' class="upload-file__input")
			.col-lg-4
				+select("Тип файла", "file_type", "fileType", [...select.fileType])
+modal("addPayTourist", "Платеж от туриста", "modal-small")
	.field-group
		.row.align-items-end
			.col-3
				+fieldItem("Cумма оплаты <strong>RUB</strong>", "text", "sum_payment_tourist")
			.col-1
				span.math-icon 	
					i(class="fa-solid fa-divide")
			.col-3
				+fieldItem("Курс <strong>EUR</strong>", "text", "course_for_tourist")
			.col-1
				span.math-icon 	
					i(class="fa-solid fa-equals")
			.col-4
				+fieldItem("Cумма <strong>EUR</strong>", "text", "sum_eur_tourist")
		.row 
			.col-lg-4
				+date("Дата и время платежа", "text", "pay_date")
				


