.filters 
	form(action="").form 
		.filters__top
			.filters__column
				.filters__row.field-group(style="--col: 3")
					+fieldItem("ФИО ТУРИСТА", "text", "fio")
					+date("НАЧАЛО ТУРА (ОТ)", "text", "date_start", null, 'start')
					+date("НАЧАЛО ТУРА (ДО)", "text", "date_end", null, 'end')
					//- .field-group__item
					//- 	.field-group__name Вылет:
					//- 	.field-group__list
					//- 		li сегодня,
					//- 		li завтра,
					//- 		li через 3 дня,
					//- 		li через 5 дней
					//- .field-group__item
					//- 	.field-group__name Прилёт:
					//- 	.field-group__list
					//- 		li сегодня,
					//- 		li завтра,
					//- 		li через 3 дня,
					//- 		li через 5 дней
			.filters__column
				.filters__buttons
					+button("Сброс", "fa-solid fa-xmark", "btn-reset")
					+button("Поиск", "fa-solid fa-binoculars", "btn-search")
					//- +button("Скачать в .xlsx", "fa-solid fa-file-excel", "btn-download")

