header.header#header
	div.container
		.logo 	
			//- img(src="", alt="Логотип")
		.header__menu.menu-header
			//- nav.menu
			//- 	include menu
			//- button.menu__icon(type="button")
			//- 	span
			.menu-header__options 
				.menu-header__name Тихановская И.В. 
				.submenu-header 


