extends layout.pug

block variables
	- var pageTitle = "Главная"
	- var blockTitle = "Активные заявки"
block content
	prepend links 
		link(rel="stylesheet", href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css")
	div.container
		.main__top 
			.main__title= blockTitle
			.main__button
				button.btn.btn-request(type="button" data-bs-toggle="modal" data-bs-target="#createClaim") Создать заявку
		include ./blocks/filters
		include ./blocks/table
		//- .loader.fixed
		//- 	.loader__icon
append scripts 
	script(src="https://code.jquery.com/jquery-3.5.1.js")
	script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
	script(src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js")
	script(src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js")





