-
	menu = [
		{	
			"title": "Заявки",
			"link": "request.html",
			"submenu": [
			]
		},
		{	
			"title": "Финансы",
			"link": "#",
		},
		{	
			"title": "Клиенты",
			"link": "#",
		},
		{	
			"title": "контакты",
			"link": "contacts.html",
		},
	],
	table = [
		{
			"arrayHeaders": ["Номер", "Начало тура, страны назначения", "Заказчик, туристы", "Поставщик, стоимость у ТО и оплата ТА", "Заказчик, стоимость и долг заказчика", "Менеджер", "", ""],
			"tableRows": [
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
					{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				},
				{
					"number": "№ 1802-2707",
					"date": "15 мар 23 (4 ночи)",
					"route": "Нижний Новгород - Россия",
					"customer": "Визгунова Мария Владимировна",
					"customers": "Визгунова М. В., Косенко О. А.",
					"operatorName": "Pegas Touristik",
					"operatorFull": "true",
					"sumNum": "39 076,00 RUB",
					"sumPart": "true",
					"managerName": "Тихановская И. В.",
					"managerDate": "31 янв 2023",
				}
			]
		}
	],
	groupItemData = [
		{
			"title": "ДОКУМЕНТЫ ТУРИСТУ",
			"btnHead": "изменить",
			"status": "notSent",
			"list": [],
			"btnId": "docModal",
		},
		{
			"title": "ИНФОРМАЦИЯ О ТУРПАКЕТЕ",
			"btnHead": "изменить",
			"status": "",
			"list": [
				{
					"label": "СПО",
					"value": "Moscow Hurghada"
				},
				{
					"label": "ДАТЫ ТУРА",
					"value": "11.03.2023 - 19.03.2023"
				},
				{
					"label": "НАПРАВЛЕНИЕ",
					"value": "Москва - Египет"
				},
				{
					"label": "НОЧЕЙ",
					"value": "8 ночей"
				},
			],
			"btnId": "tourpackageModal",
		},
		{
			"title": "ИНФОРМАЦИЯ О ТУРОПЕРАТОРЕ",
			"btnHead": "изменить",
			"status": "",
			"list": [
				{
					"label": "ТУРОПЕРАТОР",
					"value": "Anex",
					"image": "anex"
				},
			],
			"btnId": "touroperatorModal",
		},
		{
			"title": "ДАННЫЕ ДОГОВОРА И БРОНИРОВАНИЯ",
			"btnHead": "изменить",
			"status": "",
			"list": [
				{
					"label": "ДАТА",
					"value": "06.03.2023",
				},
				{
					"label": "НОМЕР БРОНИ",
					"value": "12",
				},
			],
			"btnId": "contractModal",
		},
		{
			"title": "ВЗАИМОРАСЧЁТЫ С ТУРИСТОМ",
			"btnHead": "параметры предоплаты по договору",
			"btnId": "prepaymentParameters",
			"status": "full",
			"prices": [
				{
					"priceOne": "151 300,28 ₽",
					"priceTwo": "1 939,25 $"
				}
			],
			"priceBtn": "СТОИМОСТЬ ДЛЯ ТУРИСТА",
			"list": [
				{
					"label": "СКИДКА ДЛЯ ПОКУПАТЕЛЯ (ТУРИСТА)",
					"value": "0,0 %"
				},
				{
					"label": "СТОИМОСТЬ ТУРПАКЕТА ПО КАТАЛОГУ",
					"value": "19 560,00 ₽"
				},
				{
					"label": "— КОМИССИОННАЯ",
					"value": "19 560,00 ₽"
				},
				{
					"label": "— НЕКОМИССИОННАЯ",
					"value": "0,00 ₽"
				},
				{
					"label": "CТОИМОСТЬ ДОПОЛНИТЕЛЬНЫХ УСЛУГ",
					"value": "0,00 ₽"
				},
				{
					"label": "— КОМИССИОННАЯ",
					"value": "0,00 ₽"
				},
				{
					"label": "— НЕКОМИССИОННАЯ",
					"value": "0,00 ₽"
				},
			],
			"table": [
				{
					"headers": [
						{
							"name": "ДАТА",
							"widthColumn": "110"
						},
						{
							"name": "НОМЕР СЧЁТА",
							"widthColumn": ""
						},
						{
							"name": "СУММА",
							"widthColumn": ""
						},
						{
							"name": "ДОЛГ",
							"widthColumn": "80"
						},
					],
					"tableRows": [
						{
							"payment": "cчет",
							"date": "16.03.2023 в 18:27",
							"number": "№ 1802-2774-1",
							"sum": "151 300,00 ₽",
							"obligation": "true",
							"status": "success"
						},
						{
							"payment": "- оплата",
							"date": "16.03.2023 в 18:27",
							"number": "",
							"sum": "+ 151 300,00 ₽ / 1 939,25 $",
						},
					]
				}
			],
			"key": "finance_tourist"
		},
		{
			"title": "ФИНАНСОВЫЕ РАСЧЁТЫ",
			"btnHead": "параметры",
			"btnId": "parametersPayment",
			"prices": [
				{
					"priceOne": "Не указана",
					"priceTwo": "0,00 $"
				}
			],
			"priceBtn": "СЕБЕСТОИМОСТЬ",
			"list": [
				{
					"label": "КОМИССИЯ ТА, %",
					"value": "7,00 %"
				},
				{
					"label": "СТОИМОСТЬ ТУРПАКЕТА ДЛЯ ТА",
					"value": "0,00 $"
				},
				{
					"label": "СТОИМОСТЬ ТУРА ДЛЯ ТУРИСТА",
					"value": "1 939,25 $"
				},
				{
					"label": "- КОМИССИОННАЯ",
					"value": "1 939,25 $"
				},
				{
					"label": "- НЕКОМИССИОННАЯ",
					"value": "0,00 $"
				},
				{
					"label": "СТОИМОСТЬ ДОПОЛНИТЕЛЬНЫХ УСЛУГ",
					"value": "0,00 $"
				},
				{
					"label": "ОПЛАЧЕНО ПОСТАВЩИКУ",
					"value": "0,00 ₽"
				},
			],
			"key": "finance"
		}
	],
	passportData = [
		{
			"label": "СЕРИЯ И НОМЕР",
			"value": "1710 083533",
		},
		{
			"label": "КЕМ ВЫДАН",
			"value": "УФМС РОССИИ ПО ВЛАДИМИРСКОЙ ОБЛАСТИ",
		},
		{
			"label": "АДРЕС",
			"value": "Н.Новгород, ул.Тонкинская, 14а/254",
		}
	],
	touristTable = [
		{
			"headers": [
				{
					"name": "Фио туриста",
					"widthColumn": "20"
				},
				{
					"name": "Пол",
					"widthColumn": "5"
				},
				{
					"name": "Дата рождения",
					"widthColumn": "15"
				},
				{
					"name": "Паспортные данные",
					"widthColumn": "20"
				},
				{
					"name": "Контакты",
					"widthColumn": "20"
				},
				{
					"name": "Виза",
					"widthColumn": "15"
				},
				{
					"name": "Действия",
					"widthColumn": "5"
				},
			],
			"person": [
				{
					"mainRow": [
						{
							"fio": "Загладина Наталия Константиновна",
							"gender": "Ж",
							"date": "10.10.1949",
							"passportData": "9708 654181",
							"tel": "+79159565930",
							"visa": "не требуется"
						}
					],
					"additionalRow": [
						{
							"fio": "ZAGLADINA NATALIIA",
							"date": "39",
							"passportData": "75 0383870",
							"email": "sale@4sez.ru",
							"contactManager": "Выбраны контакты менеджера"
						}
					]
				},
				{
					"mainRow": [
						{
							"fio": "Бакалин Сергей Владимирович",
							"gender": "М",
							"date": "15.03.1981",
							"passportData": "9708 654181",
							"tel": "+7",
							"visa": "не требуется"
						}
					],
					"additionalRow": [
						{
							"fio": "BAKALIN SERGEI",
							"date": "42",
							"passportData": "73 3366366",
							"email": "",
							"contactManager": "Выбраны контакты менеджера"
						}
					]
				}
			]
		}
	],
	detailTourTable = [
		{
			"headers": [
				{
					"name": "Услуга",
					"widthColumn": "160"
				},
				{
					"name": "",
					"widthColumn": "40"
				},
				{
					"name": "Описание",
					"widthColumn": ""
				},
				{
					"name": "Даты",
					"widthColumn": "270"
				},
				{
					"name": "Туристы",
					"widthColumn": "100"
				},
				{
					"name": "Действия",
					"widthColumn": "80"
				},
			],
			"services": [
				{
					"name": "ТРАНСФЕР",
					"description": "аэропорт - отель",
					"dates": "c 22.03.2023 до 22.03.2023",
					"tourists": "4"
				},
				{
					"name": "СТРАХОВКА",
					"description": "мед страховка",
					"dates": "с 22.03.2023 до 28.03.2023",
					"tourists": "2"
				},
				{
					"name": "ПРОЖИВАНИЕ",
					"description": "SUNRISE REMAL RESORT 4*, Шарм-Эль-Шейх",
					"dates": "с 22.03.2023 до 28.03.2023",
					"tourists": "2"
				},
			]
		}
	],
	documentsTable = [
		{
			"headers": [
				{
					"name": "Дата добавления",
					"widthColumn": "15"
				},
				{
					"name": "Название файла",
					"widthColumn": "50"
				},
				{
					"name": "Тип",
					"widthColumn": "20"
				},
				{
					"name": "Действия",
					"widthColumn": "15"
				},
			],
			"documentsData": [
				{
					"date": "16.03.2023 14:50",
					"name": "doc-12353131.rtf",
					"type": "Документ туриста",
				},
				{
					"date": "17.03.2023 15:50",
					"name": "doc-12353131.rtf",
					"type": "Документ туриста №2",
				},
				{
					"date": "18.03.2023 16:50",
					"name": "doc-12353131.rtf",
					"type": "Документ туриста №3",
				}
			]
		}
	],
	filesTable = [
		{
			"headers": [
				{
					"name": "Дата добавления",
					"widthColumn": "15"
				},
				{
					"name": "Название файла",
					"widthColumn": "50"
				},
				{
					"name": "Тип",
					"widthColumn": "20"
				},
				{
					"name": "Действия",
					"widthColumn": "15"
				},
			],
			"filesData": [
				{
					"date": "16.03.2023 14:50",
					"name": "file-12353131.rtf",
					"type": "Документ туриста",
				},
				{
					"date": "17.03.2023 15:50",
					"name": "file-12353131.rtf",
					"type": "Документ туриста №2",
				},
				{
					"date": "18.03.2023 16:50",
					"name": "file-12353131.rtf",
					"type": "Документ туриста №3",
				}
			]
		}
	],
	select = {
		"statusDocs": [
			{
				"value": "Не отправлены",
				"name": "Не отправлены",
			},
			{
				"value": "Отправлены частично",
				"name": "Отправлены частично",
			},
			{
				"value": "Отправлены",
				"name": "Отправлены",
			},
		],
		"departureCity": [
			{
				"value": "Moscow",
				"name": "Москва",
			},
			{
				"value": "Spb",
				"name": "Санкт-Петербург",
			},
			{
				"value": "novosibirsk",
				"name": "Новосибирск",
			},
		],
		"countryArrival": [
			{
				"value": "Egypt",
				"name": "Египет",
			},
			{
				"value": "Italy",
				"name": "Италия",
			},
			{
				"value": "Spain",
				"name": "Испания",
			},
		],
		"customer": [
			{
				"value": "person",
				"name": "Физическое лицо",
			},
			{
				"value": "juridical",
				"name": "Юридическое лицо",
			},
		],
		"gender": [
			{
				"value": "male",
				"name": "Мужской",
			},
			{
				"value": "female",
				"name": "Женский",
			},
		],
		"nationality": [
			{
				"value": "Россия",
				"name": "Россия",
			},
			{
				"value": "Belarus",
				"name": "Беларусь",
			},
			{
				"value": "Ukraine",
				"name": "Украина",
			},
		],
		"visa": [
			{
				"value": "not",
				"name": "Не требуется",
			},
			{
				"value": "yes",
				"name": "Надо оформить визу",
			},
		],
		"visaCity": [
			{
				"value": "moscow",
				"name": "Москва",
			},
			{
				"value": "kaliningrad",
				"name": "Калининград",
			},
			{
				"value": "murmansk",
				"name": "Мурманск",
			},
		],
		"flightClass": [
			{
				"value": "unknown",
				"name": "Неизвестно",
			},
			{
				"value": "economy",
				"name": "Эконом",
			},
			{
				"value": "business",
				"name": "Бизнес",
			},
		],
		"insuranceType": [
			{
				"value": "required",
				"name": "Обязательное страхование медицинских расходов в период путешествия",
			},
			{
				"value": "extended",
				"name": "Расширенное страхование",
			},
			{
				"value": "cancel",
				"name": "Отмена поездки",
			},
			{
				"value": "other",
				"name": "Другое (добавить вручную)",
			},
		],
		"transferType": [
			{
				"value": "group",
				"name": "Групповой",
			},
			{
				"value": "individual",
				"name": "Индивидуальный",
			},
		],
		"habitationTypeFood": [
			{
				"value": "RO",
				"name": "RO",
			},
			{
				"value": "RO",
				"name": "RO",
			},
			{
				"value": "HB",
				"name": "HB",
			},
			{
				"value": "FB",
				"name": "FB",
			},
			{
				"value": "AI",
				"name": "AI",
			},
			{
				"value": "UAI",
				"name": "UAI",
			},
		],
		"exposePayment": [
			{
				"value": "cash",
				"name": "Наличный",
			},
			{
				"value": "noncash",
				"name": "Безналичный",
			},
		],
		"exposeCurrency": [
			{
				"value": "RUB",
				"name": "RUB",
			},
			{
				"value": "USD",
				"name": "USD",
			},
			{
				"value": "EUR",
				"name": "EUR",
			},
		],
		"tourPackageCurrency": [
			{
				"value": "RUB",
				"name": "RUB",
			},
			{
				"value": "USD",
				"name": "USD",
			},
			{
				"value": "EUR",
				"name": "EUR",
			},
		],
		"fileType": [
			{
				"value": "doc_tourist",
				"name": "Документ туриста",
			},
			{
				"value": "doc_payment",
				"name": "Платежный документ",
			},
			{
				"value": "doc_tour",
				"name": "Документ тура",
			},
		],
		"choiceTypeDoc": [
			{
				"value": "doc_avia",
				"name": "Авиатуры",
			},
			{
				"value": "doc_bus",
				"name": "Автобусные туры",
			},
		]
	},
	dropdown = {
		"services": [
			{
				"id": "addFlight",
				"text": "Перелёт"
			},
			{
				"id": "addInsurance",
				"text": "Страховка"
			},
			{
				"id": "addTransfer",
				"text": "Трансфер"
			},
			{
				"id": "addVisa",
				"text": "Виза"
			},
			{
				"id": "addHabitation",
				"text": "Проживание"
			},
			{
				"id": "addFuelSurcharge",
				"text": "Топливный сбор"
			},
			{
				"id": "addExcursionProgram",
				"text": "Экскурсионная программа"
			},
			{
				"id": "addOtherService",
				"text": "Другая услуга"
			},
		]
	}