.btn-reset {
	border: 1px solid $grayColorPrimary;
	color: $grayColorPrimary;
	&:hover {
		color: $grayColorPrimary;
	}
}
.btn-search {
	border: 1px solid $blueColorSecondary;
	color: $blueColorSecondary;
	&:hover {
		color: $blueColorSecondary;
	}
}
.btn-download {
	border: 1px solid $greenColorPrimary;
	color: $greenColorPrimary;
	&:hover {
		color: $greenColorPrimary;
	}
}
.btn-request {
	border: 1px solid $blackColorSecondary;
	color: $blackColorSecondary;
	&:hover {
		color: $blackColorSecondary;
	}
}
.btn-archive,
.btn-copy {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	color: $blueColorPrimary;
	padding: 10px;
	cursor: pointer;
}
