.field-group {
	position: relative;
	&__trigger {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		width: 28px;
		flex: 0 0 28px;
		background-color: transparent;
		cursor: pointer;
		&::before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 3px 0 3px;
			border-color: $mainColor transparent transparent transparent;
		}
		&:hover {
			background-color: $blueColorSecondary;
			&::before {
				border-color: $whiteColor transparent transparent transparent;
			}
		}
	}
	& .input-trigger {
		position: absolute;
		top: 0;
		right: 0;
		width: 28px;
		height: 100%;
		opacity: 0;
		cursor: pointer;
		background-color: transparent;
	}
	&__box {
		border: 1px solid $grayColorLight2;
		font-size: 14px;
		background: $whiteColor;
		border-collapse: separate;
		border-spacing: 0;
		min-height: 40px;
		width: 100%;
		position: relative;
		display: flex;
	}
	&__item {
	}
	&__label {
		display: block;
		&.required {
			display: flex;
			align-items: flex-start;
			&::after {
				content: "";
				display: block;
				background-image: url("../images/icons/star-required.svg");
				background-size: 8px 8px;
				width: 8px;
				height: 8px;
				margin-left: 3px;
			}
		}
	}
	&__label,
	&__name {
		font-size: 11px;
		line-height: math.div(18, 11) * 100%;
		color: $grayColorPrimary;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 5px;
	}
	&__input,
	&__textarea {
		padding: 5px;
		font-size: inherit;
		color: $mainColor;
		width: 100%;
		&:focus {
			border: 1px solid $blueColorSecondary;
		}
	}
	&__textarea {
		min-height: 90px;
		max-height: 200px;
		border: 1px solid $grayColorLight2;
		resize: vertical;
	}
	&__name {
		display: inline-block;
		color: $mainColor;
		margin-bottom: 3px;
	}
	&__list {
		list-style: none;
		& li {
			display: inline;
			font-size: 13px;
			color: $blueColorPrimary;
			cursor: pointer;
		}
	}
	&__button {
	}
}
