@import "./fields.scss";
@import "./btn.scss";
.filters {
	&__top {
		background: $whiteColor;
		display: grid;
		grid-template-columns: 1fr 150px;
		align-items: center;
		gap: 20px;
		padding: 10px;
		border: 1px solid $grayColorLight;
	}
	&__column {
		&:nth-child(1) {
			flex: 1 1 auto;
		}
		&:nth-child(2) {
			flex: 0 0 150px;
		}
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(var(--col), 1fr);
		grid-template-rows: auto;
		justify-content: center;
		gap: 25px 10px;
	}
	&__buttons {
		& > *:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__button {
		width: 100%;
	}
	&__table {
	}
}
.dataTables {
	&_wrapper {
	}
}
.sorting {
	&_asc {
	}
}
