.table-bottom {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-top: 20px;
}
.pagination {
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		& li {
			width: 30px;
			height: 30px;
			flex: 0 0 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: $blackColorSecondary;
			padding: 5px;
			border-radius: 50%;
			cursor: pointer;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&.active {
				background-color: $blueColorSecondary;
				color: $whiteColor;
			}
		}
	}
	&__item--prev,
	&__item--next {
		border: 2px solid $grayColorSecondary;
	}
}
